.Products {
    grid-template-columns: 100%
}

.Products>.popularProducts {
    grid-template-columns: 45% 45%;
    grid-template-rows: 60px repeat(4, 350px);
    order: 1;
    row-gap: 10px;
    column-gap: 40px;
    height: 2000px;
    margin: 0px 30px 0px 30px;
}

.popularProducts>div:first-child {
    grid-column-start: span 1;
    border: none;
    width: 300px;
}

.Products>.catCon {
    background-color: yellow;
    order: 4;
    margin: 0px 30px 0px 30px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: -100px;
    height: 460px;
    box-shadow: 2px 2px 1px gray;
    font-family: sans-serif;
    border-radius: 15px;
    background-color: whitesmoke;
}

.Products>.catCon>div {
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    height: 25px;
    width: 90%;
    margin-top: 15px;
    display: flex;
    margin-right: 50px;
    margin-left: 26px;
}

.Products>.filter {
    order: 5;
    margin: 0px 30px 0px 30px;
}

.Products>.newProducts {
    order: 6;
    margin: 0px 30px 0px 30px;
}

.Products>.newProducts>h2 {
    position: relative;
    left: 23px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 90%;
}

.Products>.newProducts>div {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px dotted rgba(0, 0, 0, .2);
    padding-bottom: 20px;
    padding-top: 20px;
}

.orangeSec {
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    height: 350px;
    box-shadow: 2px 2px 1px gray;
    font-family: sans-serif;
    border-radius: 15px;
    text-align: center;
    background-image: url("images/banner-11.png");
    background-size: cover;
    background-repeat: no-repeat;
    order: 7;
    margin: 0px 30px;
    background-origin: bottom left;
}

.Products>.deals {
    top: 10px;
    left: 100px;
    grid-template-columns: 100%;
    grid-template-rows: 50px repeat(4, 23%);
    order: 2;
}

.Products>.deals>div:first-child {
    grid-column-start: span 1;
}

.Products>.deals>div>img {
    width: 50%;
    border-radius: 15px;
}

.Products>.deals>div>div {
    border-radius: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    bottom: 70px;
    left: 2%;
    width: 43%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .2);
    height: 140px;
}

.subSec {
    grid-template-columns: 100%;
    order: 3;
    position: relative;
    top: -120px;
    margin: 0px 50px;
}

.subSec>div:first-child {
    background-image: url("images/banner-1.png");
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

.subSec>div:nth-of-type(2) {
    background-image: url("images/banner-2.png");
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

.subSec>div:last-child {
    background-image: url("images/banner-3.png");
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}